<div class="form-group">
    <label for="car-name">Сar name</label>
    <input
        type="text"
        class="form-control"
        id="car-name"
        aria-describedby="Сar name"
    />
</div>
<div class="form-group">
    <label for="car-model">Сar model</label>
    <input
        type="text"
        class="form-control"
        id="car-model"
        aria-describedby="Сar model"
    />
</div>
<div class="text-right">
    <button type="button" class="btn btn-light m-1">Add car</button>
<button type="button" class="btn btn-dark">Load cars</button>
</div>


